src/ASPCoreApi/.vs/ASPCoreApi/v15/Server/sqlite3/storage.ide
src/ASPCoreApi/.vs/ASPCoreApi/DesignTimeBuild/.dbtcache
src/ASPCoreApi/ASPCoreApi/obj/Debug/netcoreapp2.1/ASPCoreApi.pdb
src/ASPCoreApi/ASPCoreApi/obj/Debug/netcoreapp2.1/ASPCoreApi.dll
src/ASPCoreApi/ASPCoreApi/bin/Debug/netcoreapp2.1/ASPCoreApi.pdb
src/ASPCoreApi/ASPCoreApi/bin/Debug/netcoreapp2.1/ASPCoreApi.dll
src/ASPCoreApi/.vs/ASPCoreApi/v15/Server/sqlite3/storage.ide-wal
src/ASPCoreApi/.vs/ASPCoreApi/v15/Server/sqlite3/storage.ide-shm
src/ASPCoreApi/.vs/ASPCoreApi/v15/.suo
src/ASPCoreApi/.vs/ASPCoreApi/DesignTimeBuild/.dtbcache
src/ASPCoreApi/.vs/ASPCoreApi/v15/Server/sqlite3/storage.ide-wal
src/ASPCoreApi/.vs/ASPCoreApi/v15/Server/sqlite3/storage.ide-shm
src/ASPCoreApi/.vs/ASPCoreApi/v15/.suo
src/ASPCoreApi/ASPCoreApi/obj/Release/netcoreapp2.1/PubTmp/Out/ASPCoreApi.pdb
src/ASPCoreApi/ASPCoreApi/obj/Release/netcoreapp2.1/PubTmp/Out/ASPCoreApi.dll
src/ASPCoreApi/ASPCoreApi/obj/Release/netcoreapp2.1/ASPCoreApi.pdb
src/ASPCoreApi/ASPCoreApi/obj/Release/netcoreapp2.1/ASPCoreApi.dll
src/ASPCoreApi/ASPCoreApi/bin/Release/netcoreapp2.1/ASPCoreApi.pdb
src/ASPCoreApi/ASPCoreApi/bin/Release/netcoreapp2.1/ASPCoreApi.dll
src/ASPCoreApi/ASPCore_Testing/obj/Release/netcoreapp2.1/ASPCore_Testing.csprojAssemblyReference.cache
src/ASPCoreApi/ASPCore_Testing/obj/Debug/netcoreapp2.1/ASPCore_Testing.csprojAssemblyReference.cache
src/ASPCoreApi/.vs/ASPCoreApi/v15/Server/sqlite3/storage.ide-wal
src/ASPCoreApi/.vs/ASPCoreApi/v15/Server/sqlite3/storage.ide-shm
src/ASPCoreApi/.vs/ASPCoreApi/v15/.suo
src/ASPCoreApi/.vs/ASPCoreApi/DesignTimeBuild/.dtbcache
