src/ASPCoreApi/.vs/ASPCoreApi/v15/Server/sqlite3/storage.ide
src/ASPCoreApi/.vs/ASPCoreApi/DesignTimeBuild/.dbtcache
src/ASPCoreApi/ASPCoreApi/obj/Debug/netcoreapp2.1/ASPCoreApi.pdb
src/ASPCoreApi/ASPCoreApi/obj/Debug/netcoreapp2.1/ASPCoreApi.dll
src/ASPCoreApi/ASPCoreApi/bin/Debug/netcoreapp2.1/ASPCoreApi.pdb
src/ASPCoreApi/ASPCoreApi/bin/Debug/netcoreapp2.1/ASPCoreApi.dll
src/ASPCoreApi/.vs/ASPCoreApi/v15/Server/sqlite3/storage.ide-wal
src/ASPCoreApi/.vs/ASPCoreApi/v15/Server/sqlite3/storage.ide-shm
src/ASPCoreApi/.vs/ASPCoreApi/v15/.suo
src/ASPCoreApi/.vs/ASPCoreApi/DesignTimeBuild/.dtbcache
src/ASPCoreApi/.vs/ASPCoreApi/v15/Server/sqlite3/storage.ide-wal
