 
<!-- <div class="container">
    <div class="row">
        <div class="sm-col-3">
          <img src="https://images.pexels.com/photos/301326/pexels-photo-301326.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="image-5" />
        </div>
        <div class="sm-col-3">
          <img src="https://images.pexels.com/photos/301326/pexels-photo-301326.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="image-5" />
        </div>
        <div class="sm-col-3">
          <img src="https://images.pexels.com/photos/301326/pexels-photo-301326.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="image-5" />
        </div>
    </div>
    <div class="row">
        <div class="sm-col-3">
          <img src="https://images.pexels.com/photos/301326/pexels-photo-301326.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="image-5" />
        </div>
        <div class="sm-col-3">
          <img src="https://images.pexels.com/photos/301326/pexels-photo-301326.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="image-5" />
        </div>
        <div class="sm-col-3">
          <img src="https://images.pexels.com/photos/301326/pexels-photo-301326.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="image-5" />
        </div>
    </div>
    <div class="row">
        <div class="sm-col-3">
          <img src="https://images.pexels.com/photos/301326/pexels-photo-301326.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="image-5" />
        </div>
        <div class="sm-col-3">
          <img src="https://images.pexels.com/photos/301326/pexels-photo-301326.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="image-5" />
        </div>
        <div class="sm-col-3">
          <img src="https://images.pexels.com/photos/301326/pexels-photo-301326.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="image-5" />
        </div>
    </div> -->
        <loading-spinner *ngIf="showSpinner"></loading-spinner>
        <div  *ngIf="getInfo" class="container">
            <div class="row">
                <div class="col-md-12 jumbotron">
                    <div class="text-center">
                        <div *ngFor="let item of data | paginate: { itemsPerPage:1, currentPage: p}">
                            <h3>Locatie: </h3>
                            <img src="assets/Het_Steen.jpg" width="400">
                            <h3>Monument :</h3>
                            <h5>{{item.name}} </h5>
                            <h3>Beschrijving :</h3>
                            <h5>{{item.lore}} </h5>
                        </div>
                        <pagination-controls class="pagination" *ngIf ="data" (pageChange)="p =$event"></pagination-controls>
                    </div>
                  </div>
              </div>
          </div>   


