.sm-col-3 {
    width: 30%;
    float: left;
    padding-left: 5px;
}
.image-5 {
height: 100%;
width: 100%;
padding: 5px;}
ul {
    list-style-type: none;
  }
  pagination-controls{
    display: inline;
    text-align: center;
}