<app-layout>
    <p>
        twerkt
        cddff
        dff
        ff
        fd
        fd
        fd
        ff
      </p>
  <div class="jumbotron">
    <h1>Angular CLI + bootstrap</h1>
    <p>
      twerkt
      cddff
      dff
      ff
      fd
      fd
      fd
      ff
    </p>
    <p>
      twerkt
      cddff
      dff
      ff
      fd
      fd
      fd
      ff
    </p>
    <p>
      twerkt
      cddff
      dff
      ff
      fd
      fd
      fd
      ff
    </p>
    <p>
      twerkt
      cddff
      dff
      ff
      fd
      fd
      fd
      ff
    </p>
    <p>
      twerkt
      cddff
      dff
      ff
      fd
      fd
      fd
      ff
    </p>
    <p>
      twerkt
      cddff
      dff
      ff
      fd
      fd
      fd
      ff
    </p>
    <p>
      twerkt
      cddff
      dff
      ff
      fd
      fd
      fd
      ff
    </p>
    <p>
      twerkt
      cddff
      dff
      ff
      fd
      fd
      fd
      ff
    </p>
    <p>
      twerkt
      cddff
      dff
      ff
      fd
      fd
      fd
      ff
    </p>
    <p>
      twerkt
      cddff
      dff
      ff
      fd
      fd
      fd
      ff
    </p>
  </div>
</app-layout>